
body {
    background: #905956;
    font-family: Arial;
}
h1 {
    color: red;
}
/* wCxUdA1DAApmdmaK4lBLaD4rKtwn7MHZ7XrGypBNBKQWjhreZMhxAndzfYagLuWlTdwPaPeAaAOjxF9HDRNmi4Wpyv5qgG7pyL5ClqxacHKO01JJjgfPTU2sNC9GCwhX3VMjJwM9LosNgwhsLtH9DsKgST9CCukKznwI0IfTXlhEMpKCMjSircUsGSsq4j4Lej92yohr */
